{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "http://api.fantasydata.net/v3/cfb/scores"
        },
        {
            "url": "https://api.fantasydata.net/v3/cfb/scores"
        }
    ],
    "info": {
        "contact": {
            "x-twitter": "nfldata"
        },
        "description": "CFB schedules, scores, team stats, odds, weather, and news API.",
        "title": "CFB v3 Scores",
        "version": "1.0",
        "x-apisguru-categories": [
            "entertainment"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://fantasydata.com/downloads/swagger/cfb-v3-scores.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "fantasydata.net",
        "x-serviceName": "cfb-v3-scores"
    },
    "security": [
        {
            "apiKeyHeader": []
        },
        {
            "apiKeyQuery": []
        }
    ],
    "tags": [],
    "paths": {
        "/{format}/AreAnyGamesInProgress": {
            "get": {
                "description": "Returns <code>true</code> if there is at least one game being played at the time of the request or <code>false</code> if there are none.",
                "operationId": "AreGamesInProgress",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>xml</code> or <code>json</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "XML",
                                "JSON"
                            ],
                            "default": "XML"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "boolean"
                                }
                            }
                        }
                    }
                },
                "summary": "Are Games In Progress"
            }
        },
        "/{format}/CurrentSeason": {
            "get": {
                "operationId": "CurrentSeason",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>xml</code> or <code>json</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "XML",
                                "JSON"
                            ],
                            "default": "XML"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                },
                "summary": "Current Season"
            }
        },
        "/{format}/CurrentWeek": {
            "get": {
                "operationId": "CurrentWeek",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>xml</code> or <code>json</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "XML",
                                "JSON"
                            ],
                            "default": "XML"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    }
                },
                "summary": "Current Week"
            }
        },
        "/{format}/Games/{season}": {
            "get": {
                "operationId": "Schedules",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>xml</code> or <code>json</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "XML",
                                "JSON"
                            ],
                            "default": "XML"
                        }
                    },
                    {
                        "description": "Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>, <code>2019</code>, etc.",
                        "in": "path",
                        "name": "season",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "AwayTeam": {
                                                "type": "string"
                                            },
                                            "AwayTeamID": {
                                                "type": "integer"
                                            },
                                            "AwayTeamMoneyLine": {
                                                "type": "integer"
                                            },
                                            "AwayTeamName": {
                                                "type": "string"
                                            },
                                            "AwayTeamScore": {
                                                "type": "integer"
                                            },
                                            "Created": {
                                                "type": "string"
                                            },
                                            "DateTime": {
                                                "type": "string"
                                            },
                                            "Day": {
                                                "type": "string"
                                            },
                                            "Distance": {
                                                "type": "integer"
                                            },
                                            "Down": {
                                                "type": "integer"
                                            },
                                            "GameEndDateTime": {
                                                "type": "string"
                                            },
                                            "GameID": {
                                                "type": "integer"
                                            },
                                            "GlobalAwayTeamID": {
                                                "type": "integer"
                                            },
                                            "GlobalGameID": {
                                                "type": "integer"
                                            },
                                            "GlobalHomeTeamID": {
                                                "type": "integer"
                                            },
                                            "HomeTeam": {
                                                "type": "string"
                                            },
                                            "HomeTeamID": {
                                                "type": "integer"
                                            },
                                            "HomeTeamMoneyLine": {
                                                "type": "integer"
                                            },
                                            "HomeTeamName": {
                                                "type": "string"
                                            },
                                            "HomeTeamScore": {
                                                "type": "integer"
                                            },
                                            "IsClosed": {
                                                "type": "boolean"
                                            },
                                            "OverUnder": {
                                                "type": "number"
                                            },
                                            "Period": {
                                                "type": "string"
                                            },
                                            "Periods": {
                                                "items": {
                                                    "properties": {
                                                        "AwayScore": {
                                                            "type": "integer"
                                                        },
                                                        "GameID": {
                                                            "type": "integer"
                                                        },
                                                        "HomeScore": {
                                                            "type": "integer"
                                                        },
                                                        "Name": {
                                                            "type": "string"
                                                        },
                                                        "Number": {
                                                            "type": "integer"
                                                        },
                                                        "PeriodID": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "PointSpread": {
                                                "type": "number"
                                            },
                                            "Possession": {
                                                "type": "string"
                                            },
                                            "Season": {
                                                "type": "integer"
                                            },
                                            "SeasonType": {
                                                "type": "integer"
                                            },
                                            "Stadium": {
                                                "properties": {
                                                    "Active": {
                                                        "type": "boolean"
                                                    },
                                                    "City": {
                                                        "type": "string"
                                                    },
                                                    "Dome": {
                                                        "type": "boolean"
                                                    },
                                                    "Name": {
                                                        "type": "string"
                                                    },
                                                    "StadiumID": {
                                                        "type": "integer"
                                                    },
                                                    "State": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "StadiumID": {
                                                "type": "integer"
                                            },
                                            "Status": {
                                                "type": "string"
                                            },
                                            "TimeRemainingMinutes": {
                                                "type": "integer"
                                            },
                                            "TimeRemainingSeconds": {
                                                "type": "integer"
                                            },
                                            "Title": {
                                                "type": "string"
                                            },
                                            "Updated": {
                                                "type": "string"
                                            },
                                            "Week": {
                                                "type": "integer"
                                            },
                                            "YardLine": {
                                                "type": "integer"
                                            },
                                            "YardLineTerritory": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Schedules"
            }
        },
        "/{format}/GamesByDate/{date}": {
            "get": {
                "operationId": "GamesByDate",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>xml</code> or <code>json</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "XML",
                                "JSON"
                            ],
                            "default": "XML"
                        }
                    },
                    {
                        "description": "\n          The date of the game(s).\n          <br>Examples: <code>2016-SEP-01</code>, <code>2017-SEP-10</code>.\n        ",
                        "in": "path",
                        "name": "date",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "AwayTeam": {
                                                "type": "string"
                                            },
                                            "AwayTeamID": {
                                                "type": "integer"
                                            },
                                            "AwayTeamMoneyLine": {
                                                "type": "integer"
                                            },
                                            "AwayTeamName": {
                                                "type": "string"
                                            },
                                            "AwayTeamScore": {
                                                "type": "integer"
                                            },
                                            "Created": {
                                                "type": "string"
                                            },
                                            "DateTime": {
                                                "type": "string"
                                            },
                                            "Day": {
                                                "type": "string"
                                            },
                                            "Distance": {
                                                "type": "integer"
                                            },
                                            "Down": {
                                                "type": "integer"
                                            },
                                            "GameEndDateTime": {
                                                "type": "string"
                                            },
                                            "GameID": {
                                                "type": "integer"
                                            },
                                            "GlobalAwayTeamID": {
                                                "type": "integer"
                                            },
                                            "GlobalGameID": {
                                                "type": "integer"
                                            },
                                            "GlobalHomeTeamID": {
                                                "type": "integer"
                                            },
                                            "HomeTeam": {
                                                "type": "string"
                                            },
                                            "HomeTeamID": {
                                                "type": "integer"
                                            },
                                            "HomeTeamMoneyLine": {
                                                "type": "integer"
                                            },
                                            "HomeTeamName": {
                                                "type": "string"
                                            },
                                            "HomeTeamScore": {
                                                "type": "integer"
                                            },
                                            "IsClosed": {
                                                "type": "boolean"
                                            },
                                            "OverUnder": {
                                                "type": "number"
                                            },
                                            "Period": {
                                                "type": "string"
                                            },
                                            "Periods": {
                                                "items": {
                                                    "properties": {
                                                        "AwayScore": {
                                                            "type": "integer"
                                                        },
                                                        "GameID": {
                                                            "type": "integer"
                                                        },
                                                        "HomeScore": {
                                                            "type": "integer"
                                                        },
                                                        "Name": {
                                                            "type": "string"
                                                        },
                                                        "Number": {
                                                            "type": "integer"
                                                        },
                                                        "PeriodID": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "PointSpread": {
                                                "type": "number"
                                            },
                                            "Possession": {
                                                "type": "string"
                                            },
                                            "Season": {
                                                "type": "integer"
                                            },
                                            "SeasonType": {
                                                "type": "integer"
                                            },
                                            "Stadium": {
                                                "properties": {
                                                    "Active": {
                                                        "type": "boolean"
                                                    },
                                                    "City": {
                                                        "type": "string"
                                                    },
                                                    "Dome": {
                                                        "type": "boolean"
                                                    },
                                                    "Name": {
                                                        "type": "string"
                                                    },
                                                    "StadiumID": {
                                                        "type": "integer"
                                                    },
                                                    "State": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "StadiumID": {
                                                "type": "integer"
                                            },
                                            "Status": {
                                                "type": "string"
                                            },
                                            "TimeRemainingMinutes": {
                                                "type": "integer"
                                            },
                                            "TimeRemainingSeconds": {
                                                "type": "integer"
                                            },
                                            "Title": {
                                                "type": "string"
                                            },
                                            "Updated": {
                                                "type": "string"
                                            },
                                            "Week": {
                                                "type": "integer"
                                            },
                                            "YardLine": {
                                                "type": "integer"
                                            },
                                            "YardLineTerritory": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Games by Date"
            }
        },
        "/{format}/GamesByWeek/{season}/{week}": {
            "get": {
                "operationId": "GamesByWeek",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>xml</code> or <code>json</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "XML",
                                "JSON"
                            ],
                            "default": "XML"
                        }
                    },
                    {
                        "description": "\n          Year of the season.\n          <br>Examples: <code>2015</code>, <code>2016</code>, etc.\n        ",
                        "in": "path",
                        "name": "season",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "\n          The week of the game(s).\n          <br>Examples: <code>1</code>, <code>2</code>, <code>3</code>, etc.\n        ",
                        "in": "path",
                        "name": "week",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "AwayTeam": {
                                                "type": "string"
                                            },
                                            "AwayTeamID": {
                                                "type": "integer"
                                            },
                                            "AwayTeamMoneyLine": {
                                                "type": "integer"
                                            },
                                            "AwayTeamName": {
                                                "type": "string"
                                            },
                                            "AwayTeamScore": {
                                                "type": "integer"
                                            },
                                            "Created": {
                                                "type": "string"
                                            },
                                            "DateTime": {
                                                "type": "string"
                                            },
                                            "Day": {
                                                "type": "string"
                                            },
                                            "Distance": {
                                                "type": "integer"
                                            },
                                            "Down": {
                                                "type": "integer"
                                            },
                                            "GameEndDateTime": {
                                                "type": "string"
                                            },
                                            "GameID": {
                                                "type": "integer"
                                            },
                                            "GlobalAwayTeamID": {
                                                "type": "integer"
                                            },
                                            "GlobalGameID": {
                                                "type": "integer"
                                            },
                                            "GlobalHomeTeamID": {
                                                "type": "integer"
                                            },
                                            "HomeTeam": {
                                                "type": "string"
                                            },
                                            "HomeTeamID": {
                                                "type": "integer"
                                            },
                                            "HomeTeamMoneyLine": {
                                                "type": "integer"
                                            },
                                            "HomeTeamName": {
                                                "type": "string"
                                            },
                                            "HomeTeamScore": {
                                                "type": "integer"
                                            },
                                            "IsClosed": {
                                                "type": "boolean"
                                            },
                                            "OverUnder": {
                                                "type": "number"
                                            },
                                            "Period": {
                                                "type": "string"
                                            },
                                            "Periods": {
                                                "items": {
                                                    "properties": {
                                                        "AwayScore": {
                                                            "type": "integer"
                                                        },
                                                        "GameID": {
                                                            "type": "integer"
                                                        },
                                                        "HomeScore": {
                                                            "type": "integer"
                                                        },
                                                        "Name": {
                                                            "type": "string"
                                                        },
                                                        "Number": {
                                                            "type": "integer"
                                                        },
                                                        "PeriodID": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            },
                                            "PointSpread": {
                                                "type": "number"
                                            },
                                            "Possession": {
                                                "type": "string"
                                            },
                                            "Season": {
                                                "type": "integer"
                                            },
                                            "SeasonType": {
                                                "type": "integer"
                                            },
                                            "Stadium": {
                                                "properties": {
                                                    "Active": {
                                                        "type": "boolean"
                                                    },
                                                    "City": {
                                                        "type": "string"
                                                    },
                                                    "Dome": {
                                                        "type": "boolean"
                                                    },
                                                    "Name": {
                                                        "type": "string"
                                                    },
                                                    "StadiumID": {
                                                        "type": "integer"
                                                    },
                                                    "State": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "StadiumID": {
                                                "type": "integer"
                                            },
                                            "Status": {
                                                "type": "string"
                                            },
                                            "TimeRemainingMinutes": {
                                                "type": "integer"
                                            },
                                            "TimeRemainingSeconds": {
                                                "type": "integer"
                                            },
                                            "Title": {
                                                "type": "string"
                                            },
                                            "Updated": {
                                                "type": "string"
                                            },
                                            "Week": {
                                                "type": "integer"
                                            },
                                            "YardLine": {
                                                "type": "integer"
                                            },
                                            "YardLineTerritory": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Games by Week"
            }
        },
        "/{format}/LeagueHierarchy": {
            "get": {
                "operationId": "ConferenceHierarchyWithTeams",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>xml</code> or <code>json</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "XML",
                                "JSON"
                            ],
                            "default": "XML"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "ConferenceID": {
                                                "type": "integer"
                                            },
                                            "ConferenceName": {
                                                "type": "string"
                                            },
                                            "DivisionName": {
                                                "type": "string"
                                            },
                                            "Name": {
                                                "type": "string"
                                            },
                                            "Teams": {
                                                "items": {
                                                    "properties": {
                                                        "Active": {
                                                            "type": "boolean"
                                                        },
                                                        "ApRank": {
                                                            "type": "integer"
                                                        },
                                                        "CoachesRank": {
                                                            "type": "integer"
                                                        },
                                                        "Conference": {
                                                            "type": "string"
                                                        },
                                                        "ConferenceID": {
                                                            "type": "integer"
                                                        },
                                                        "ConferenceLosses": {
                                                            "type": "integer"
                                                        },
                                                        "ConferenceWins": {
                                                            "type": "integer"
                                                        },
                                                        "GlobalTeamID": {
                                                            "type": "integer"
                                                        },
                                                        "Losses": {
                                                            "type": "integer"
                                                        },
                                                        "Name": {
                                                            "type": "string"
                                                        },
                                                        "PlayoffRank": {
                                                            "type": "integer"
                                                        },
                                                        "School": {
                                                            "type": "string"
                                                        },
                                                        "ShortDisplayName": {
                                                            "type": "string"
                                                        },
                                                        "StadiumID": {
                                                            "type": "integer"
                                                        },
                                                        "TeamID": {
                                                            "type": "integer"
                                                        },
                                                        "TeamLogoUrl": {
                                                            "type": "string"
                                                        },
                                                        "Wins": {
                                                            "type": "integer"
                                                        },
                                                        "[Key]": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                "type": "array"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Conference Hierarchy (with Teams)"
            }
        },
        "/{format}/Stadiums": {
            "get": {
                "operationId": "Stadiums",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>xml</code> or <code>json</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "XML",
                                "JSON"
                            ],
                            "default": "XML"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "Active": {
                                                "type": "boolean"
                                            },
                                            "City": {
                                                "type": "string"
                                            },
                                            "Dome": {
                                                "type": "boolean"
                                            },
                                            "Name": {
                                                "type": "string"
                                            },
                                            "StadiumID": {
                                                "type": "integer"
                                            },
                                            "State": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Stadiums"
            }
        },
        "/{format}/TeamGameStatsByWeek/{season}/{week}": {
            "get": {
                "operationId": "TeamGameStatsByWeek",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>xml</code> or <code>json</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "XML",
                                "JSON"
                            ],
                            "default": "XML"
                        }
                    },
                    {
                        "description": "\n          Year of the season.\n          <br>Examples: <code>2015</code>, <code>2016</code>, etc.\n        ",
                        "in": "path",
                        "name": "season",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "\n          The week of the game(s).\n          <br>Examples: <code>1</code>, <code>2</code>, <code>3</code>, etc.\n        ",
                        "in": "path",
                        "name": "week",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "AssistedTackles": {
                                                "type": "number"
                                            },
                                            "Created": {
                                                "type": "string"
                                            },
                                            "DateTime": {
                                                "type": "string"
                                            },
                                            "Day": {
                                                "type": "string"
                                            },
                                            "ExtraPointsAttempted": {
                                                "type": "number"
                                            },
                                            "ExtraPointsMade": {
                                                "type": "number"
                                            },
                                            "FantasyPoints": {
                                                "type": "number"
                                            },
                                            "FieldGoalPercentage": {
                                                "type": "number"
                                            },
                                            "FieldGoalsAttempted": {
                                                "type": "number"
                                            },
                                            "FieldGoalsLongestMade": {
                                                "type": "number"
                                            },
                                            "FieldGoalsMade": {
                                                "type": "number"
                                            },
                                            "FirstDowns": {
                                                "type": "integer"
                                            },
                                            "FourthDownAttempts": {
                                                "type": "integer"
                                            },
                                            "FourthDownConversions": {
                                                "type": "integer"
                                            },
                                            "FumbleReturnTouchdowns": {
                                                "type": "number"
                                            },
                                            "Fumbles": {
                                                "type": "number"
                                            },
                                            "FumblesLost": {
                                                "type": "number"
                                            },
                                            "FumblesRecovered": {
                                                "type": "number"
                                            },
                                            "GameID": {
                                                "type": "integer"
                                            },
                                            "Games": {
                                                "type": "integer"
                                            },
                                            "GlobalGameID": {
                                                "type": "integer"
                                            },
                                            "GlobalOpponentID": {
                                                "type": "integer"
                                            },
                                            "GlobalTeamID": {
                                                "type": "integer"
                                            },
                                            "HomeOrAway": {
                                                "type": "string"
                                            },
                                            "InterceptionReturnTouchdowns": {
                                                "type": "number"
                                            },
                                            "InterceptionReturnYards": {
                                                "type": "number"
                                            },
                                            "Interceptions": {
                                                "type": "number"
                                            },
                                            "IsGameOver": {
                                                "type": "boolean"
                                            },
                                            "KickReturnLong": {
                                                "type": "number"
                                            },
                                            "KickReturnTouchdowns": {
                                                "type": "number"
                                            },
                                            "KickReturnYards": {
                                                "type": "number"
                                            },
                                            "KickReturnYardsPerAttempt": {
                                                "type": "number"
                                            },
                                            "KickReturns": {
                                                "type": "number"
                                            },
                                            "Name": {
                                                "type": "string"
                                            },
                                            "Opponent": {
                                                "type": "string"
                                            },
                                            "OpponentID": {
                                                "type": "integer"
                                            },
                                            "OpponentScore": {
                                                "type": "integer"
                                            },
                                            "PassesDefended": {
                                                "type": "number"
                                            },
                                            "PassingAttempts": {
                                                "type": "number"
                                            },
                                            "PassingCompletionPercentage": {
                                                "type": "number"
                                            },
                                            "PassingCompletions": {
                                                "type": "number"
                                            },
                                            "PassingInterceptions": {
                                                "type": "number"
                                            },
                                            "PassingRating": {
                                                "type": "number"
                                            },
                                            "PassingTouchdowns": {
                                                "type": "number"
                                            },
                                            "PassingYards": {
                                                "type": "number"
                                            },
                                            "PassingYardsPerAttempt": {
                                                "type": "number"
                                            },
                                            "PassingYardsPerCompletion": {
                                                "type": "number"
                                            },
                                            "Penalties": {
                                                "type": "integer"
                                            },
                                            "PenaltyYards": {
                                                "type": "integer"
                                            },
                                            "PuntAverage": {
                                                "type": "number"
                                            },
                                            "PuntLong": {
                                                "type": "number"
                                            },
                                            "PuntReturnLong": {
                                                "type": "number"
                                            },
                                            "PuntReturnTouchdowns": {
                                                "type": "number"
                                            },
                                            "PuntReturnYards": {
                                                "type": "number"
                                            },
                                            "PuntReturnYardsPerAttempt": {
                                                "type": "number"
                                            },
                                            "PuntReturns": {
                                                "type": "number"
                                            },
                                            "PuntYards": {
                                                "type": "number"
                                            },
                                            "Punts": {
                                                "type": "number"
                                            },
                                            "QuarterbackHurries": {
                                                "type": "number"
                                            },
                                            "ReceivingLong": {
                                                "type": "number"
                                            },
                                            "ReceivingTouchdowns": {
                                                "type": "number"
                                            },
                                            "ReceivingYards": {
                                                "type": "number"
                                            },
                                            "ReceivingYardsPerReception": {
                                                "type": "number"
                                            },
                                            "Receptions": {
                                                "type": "number"
                                            },
                                            "RushingAttempts": {
                                                "type": "number"
                                            },
                                            "RushingLong": {
                                                "type": "number"
                                            },
                                            "RushingTouchdowns": {
                                                "type": "number"
                                            },
                                            "RushingYards": {
                                                "type": "number"
                                            },
                                            "RushingYardsPerAttempt": {
                                                "type": "number"
                                            },
                                            "Sacks": {
                                                "type": "number"
                                            },
                                            "Score": {
                                                "type": "integer"
                                            },
                                            "Season": {
                                                "type": "integer"
                                            },
                                            "SeasonType": {
                                                "type": "integer"
                                            },
                                            "SoloTackles": {
                                                "type": "number"
                                            },
                                            "StatID": {
                                                "type": "integer"
                                            },
                                            "TacklesForLoss": {
                                                "type": "number"
                                            },
                                            "Team": {
                                                "type": "string"
                                            },
                                            "TeamID": {
                                                "type": "integer"
                                            },
                                            "ThirdDownAttempts": {
                                                "type": "integer"
                                            },
                                            "ThirdDownConversions": {
                                                "type": "integer"
                                            },
                                            "TimeOfPossessionMinutes": {
                                                "type": "integer"
                                            },
                                            "TimeOfPossessionSeconds": {
                                                "type": "integer"
                                            },
                                            "Updated": {
                                                "type": "string"
                                            },
                                            "Week": {
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Team Game Stats by Week"
            }
        },
        "/{format}/TeamSeasonStats/{season}": {
            "get": {
                "operationId": "TeamSeasonStatsStandings",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>xml</code> or <code>json</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "XML",
                                "JSON"
                            ],
                            "default": "XML"
                        }
                    },
                    {
                        "description": "Year of the season (with optional season type).<br>Examples: <code>2017</code>, <code>2017POST</code>, <code>2018</code>.",
                        "in": "path",
                        "name": "season",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "AssistedTackles": {
                                                "type": "number"
                                            },
                                            "ConferenceLosses": {
                                                "type": "integer"
                                            },
                                            "ConferencePointsAgainst": {
                                                "type": "integer"
                                            },
                                            "ConferencePointsFor": {
                                                "type": "integer"
                                            },
                                            "ConferenceWins": {
                                                "type": "integer"
                                            },
                                            "Created": {
                                                "type": "string"
                                            },
                                            "ExtraPointsAttempted": {
                                                "type": "number"
                                            },
                                            "ExtraPointsMade": {
                                                "type": "number"
                                            },
                                            "FantasyPoints": {
                                                "type": "number"
                                            },
                                            "FieldGoalPercentage": {
                                                "type": "number"
                                            },
                                            "FieldGoalsAttempted": {
                                                "type": "number"
                                            },
                                            "FieldGoalsLongestMade": {
                                                "type": "number"
                                            },
                                            "FieldGoalsMade": {
                                                "type": "number"
                                            },
                                            "FirstDowns": {
                                                "type": "integer"
                                            },
                                            "FourthDownAttempts": {
                                                "type": "integer"
                                            },
                                            "FourthDownConversions": {
                                                "type": "integer"
                                            },
                                            "FumbleReturnTouchdowns": {
                                                "type": "number"
                                            },
                                            "Fumbles": {
                                                "type": "number"
                                            },
                                            "FumblesLost": {
                                                "type": "number"
                                            },
                                            "FumblesRecovered": {
                                                "type": "number"
                                            },
                                            "Games": {
                                                "type": "integer"
                                            },
                                            "GlobalTeamID": {
                                                "type": "integer"
                                            },
                                            "HomeLosses": {
                                                "type": "integer"
                                            },
                                            "HomeWins": {
                                                "type": "integer"
                                            },
                                            "InterceptionReturnTouchdowns": {
                                                "type": "number"
                                            },
                                            "InterceptionReturnYards": {
                                                "type": "number"
                                            },
                                            "Interceptions": {
                                                "type": "number"
                                            },
                                            "KickReturnLong": {
                                                "type": "number"
                                            },
                                            "KickReturnTouchdowns": {
                                                "type": "number"
                                            },
                                            "KickReturnYards": {
                                                "type": "number"
                                            },
                                            "KickReturnYardsPerAttempt": {
                                                "type": "number"
                                            },
                                            "KickReturns": {
                                                "type": "number"
                                            },
                                            "Losses": {
                                                "type": "integer"
                                            },
                                            "Name": {
                                                "type": "string"
                                            },
                                            "OpponentScore": {
                                                "type": "integer"
                                            },
                                            "PassesDefended": {
                                                "type": "number"
                                            },
                                            "PassingAttempts": {
                                                "type": "number"
                                            },
                                            "PassingCompletionPercentage": {
                                                "type": "number"
                                            },
                                            "PassingCompletions": {
                                                "type": "number"
                                            },
                                            "PassingInterceptions": {
                                                "type": "number"
                                            },
                                            "PassingRating": {
                                                "type": "number"
                                            },
                                            "PassingTouchdowns": {
                                                "type": "number"
                                            },
                                            "PassingYards": {
                                                "type": "number"
                                            },
                                            "PassingYardsPerAttempt": {
                                                "type": "number"
                                            },
                                            "PassingYardsPerCompletion": {
                                                "type": "number"
                                            },
                                            "Penalties": {
                                                "type": "integer"
                                            },
                                            "PenaltyYards": {
                                                "type": "integer"
                                            },
                                            "PointsAgainst": {
                                                "type": "integer"
                                            },
                                            "PointsFor": {
                                                "type": "integer"
                                            },
                                            "PuntAverage": {
                                                "type": "number"
                                            },
                                            "PuntLong": {
                                                "type": "number"
                                            },
                                            "PuntReturnLong": {
                                                "type": "number"
                                            },
                                            "PuntReturnTouchdowns": {
                                                "type": "number"
                                            },
                                            "PuntReturnYards": {
                                                "type": "number"
                                            },
                                            "PuntReturnYardsPerAttempt": {
                                                "type": "number"
                                            },
                                            "PuntReturns": {
                                                "type": "number"
                                            },
                                            "PuntYards": {
                                                "type": "number"
                                            },
                                            "Punts": {
                                                "type": "number"
                                            },
                                            "QuarterbackHurries": {
                                                "type": "number"
                                            },
                                            "ReceivingLong": {
                                                "type": "number"
                                            },
                                            "ReceivingTouchdowns": {
                                                "type": "number"
                                            },
                                            "ReceivingYards": {
                                                "type": "number"
                                            },
                                            "ReceivingYardsPerReception": {
                                                "type": "number"
                                            },
                                            "Receptions": {
                                                "type": "number"
                                            },
                                            "RoadLosses": {
                                                "type": "integer"
                                            },
                                            "RoadWins": {
                                                "type": "integer"
                                            },
                                            "RushingAttempts": {
                                                "type": "number"
                                            },
                                            "RushingLong": {
                                                "type": "number"
                                            },
                                            "RushingTouchdowns": {
                                                "type": "number"
                                            },
                                            "RushingYards": {
                                                "type": "number"
                                            },
                                            "RushingYardsPerAttempt": {
                                                "type": "number"
                                            },
                                            "Sacks": {
                                                "type": "number"
                                            },
                                            "Score": {
                                                "type": "integer"
                                            },
                                            "Season": {
                                                "type": "integer"
                                            },
                                            "SeasonType": {
                                                "type": "integer"
                                            },
                                            "SoloTackles": {
                                                "type": "number"
                                            },
                                            "StatID": {
                                                "type": "integer"
                                            },
                                            "Streak": {
                                                "type": "integer"
                                            },
                                            "TacklesForLoss": {
                                                "type": "number"
                                            },
                                            "Team": {
                                                "type": "string"
                                            },
                                            "TeamID": {
                                                "type": "integer"
                                            },
                                            "ThirdDownAttempts": {
                                                "type": "integer"
                                            },
                                            "ThirdDownConversions": {
                                                "type": "integer"
                                            },
                                            "TimeOfPossessionMinutes": {
                                                "type": "integer"
                                            },
                                            "TimeOfPossessionSeconds": {
                                                "type": "integer"
                                            },
                                            "Updated": {
                                                "type": "string"
                                            },
                                            "Wins": {
                                                "type": "integer"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Team Season Stats & Standings"
            }
        },
        "/{format}/Teams": {
            "get": {
                "operationId": "Teams",
                "parameters": [
                    {
                        "description": "Desired response format. Valid entries are <code>xml</code> or <code>json</code>.",
                        "in": "path",
                        "name": "format",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "XML",
                                "JSON"
                            ],
                            "default": "XML"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "properties": {
                                            "Active": {
                                                "type": "boolean"
                                            },
                                            "ApRank": {
                                                "type": "integer"
                                            },
                                            "CoachesRank": {
                                                "type": "integer"
                                            },
                                            "Conference": {
                                                "type": "string"
                                            },
                                            "ConferenceID": {
                                                "type": "integer"
                                            },
                                            "ConferenceLosses": {
                                                "type": "integer"
                                            },
                                            "ConferenceWins": {
                                                "type": "integer"
                                            },
                                            "GlobalTeamID": {
                                                "type": "integer"
                                            },
                                            "Losses": {
                                                "type": "integer"
                                            },
                                            "Name": {
                                                "type": "string"
                                            },
                                            "PlayoffRank": {
                                                "type": "integer"
                                            },
                                            "School": {
                                                "type": "string"
                                            },
                                            "ShortDisplayName": {
                                                "type": "string"
                                            },
                                            "StadiumID": {
                                                "type": "integer"
                                            },
                                            "TeamID": {
                                                "type": "integer"
                                            },
                                            "TeamLogoUrl": {
                                                "type": "string"
                                            },
                                            "Wins": {
                                                "type": "integer"
                                            },
                                            "[Key]": {
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                },
                "summary": "Teams"
            }
        }
    },
    "components": {
        "schemas": {
            "Conference": {
                "properties": {
                    "ConferenceID": {
                        "type": "integer"
                    },
                    "ConferenceName": {
                        "type": "string"
                    },
                    "DivisionName": {
                        "type": "string"
                    },
                    "Name": {
                        "type": "string"
                    },
                    "Teams": {
                        "items": {
                            "properties": {
                                "Active": {
                                    "type": "boolean"
                                },
                                "ApRank": {
                                    "type": "integer"
                                },
                                "CoachesRank": {
                                    "type": "integer"
                                },
                                "Conference": {
                                    "type": "string"
                                },
                                "ConferenceID": {
                                    "type": "integer"
                                },
                                "ConferenceLosses": {
                                    "type": "integer"
                                },
                                "ConferenceWins": {
                                    "type": "integer"
                                },
                                "GlobalTeamID": {
                                    "type": "integer"
                                },
                                "Losses": {
                                    "type": "integer"
                                },
                                "Name": {
                                    "type": "string"
                                },
                                "PlayoffRank": {
                                    "type": "integer"
                                },
                                "School": {
                                    "type": "string"
                                },
                                "ShortDisplayName": {
                                    "type": "string"
                                },
                                "StadiumID": {
                                    "type": "integer"
                                },
                                "TeamID": {
                                    "type": "integer"
                                },
                                "TeamLogoUrl": {
                                    "type": "string"
                                },
                                "Wins": {
                                    "type": "integer"
                                },
                                "[Key]": {
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "Game": {
                "properties": {
                    "AwayTeam": {
                        "type": "string"
                    },
                    "AwayTeamID": {
                        "type": "integer"
                    },
                    "AwayTeamMoneyLine": {
                        "type": "integer"
                    },
                    "AwayTeamName": {
                        "type": "string"
                    },
                    "AwayTeamScore": {
                        "type": "integer"
                    },
                    "Created": {
                        "type": "string"
                    },
                    "DateTime": {
                        "type": "string"
                    },
                    "Day": {
                        "type": "string"
                    },
                    "Distance": {
                        "type": "integer"
                    },
                    "Down": {
                        "type": "integer"
                    },
                    "GameEndDateTime": {
                        "type": "string"
                    },
                    "GameID": {
                        "type": "integer"
                    },
                    "GlobalAwayTeamID": {
                        "type": "integer"
                    },
                    "GlobalGameID": {
                        "type": "integer"
                    },
                    "GlobalHomeTeamID": {
                        "type": "integer"
                    },
                    "HomeTeam": {
                        "type": "string"
                    },
                    "HomeTeamID": {
                        "type": "integer"
                    },
                    "HomeTeamMoneyLine": {
                        "type": "integer"
                    },
                    "HomeTeamName": {
                        "type": "string"
                    },
                    "HomeTeamScore": {
                        "type": "integer"
                    },
                    "IsClosed": {
                        "type": "boolean"
                    },
                    "OverUnder": {
                        "type": "number"
                    },
                    "Period": {
                        "type": "string"
                    },
                    "Periods": {
                        "items": {
                            "properties": {
                                "AwayScore": {
                                    "type": "integer"
                                },
                                "GameID": {
                                    "type": "integer"
                                },
                                "HomeScore": {
                                    "type": "integer"
                                },
                                "Name": {
                                    "type": "string"
                                },
                                "Number": {
                                    "type": "integer"
                                },
                                "PeriodID": {
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "PointSpread": {
                        "type": "number"
                    },
                    "Possession": {
                        "type": "string"
                    },
                    "Season": {
                        "type": "integer"
                    },
                    "SeasonType": {
                        "type": "integer"
                    },
                    "Stadium": {
                        "properties": {
                            "Active": {
                                "type": "boolean"
                            },
                            "City": {
                                "type": "string"
                            },
                            "Dome": {
                                "type": "boolean"
                            },
                            "Name": {
                                "type": "string"
                            },
                            "StadiumID": {
                                "type": "integer"
                            },
                            "State": {
                                "type": "string"
                            }
                        },
                        "type": "object"
                    },
                    "StadiumID": {
                        "type": "integer"
                    },
                    "Status": {
                        "type": "string"
                    },
                    "TimeRemainingMinutes": {
                        "type": "integer"
                    },
                    "TimeRemainingSeconds": {
                        "type": "integer"
                    },
                    "Title": {
                        "type": "string"
                    },
                    "Updated": {
                        "type": "string"
                    },
                    "Week": {
                        "type": "integer"
                    },
                    "YardLine": {
                        "type": "integer"
                    },
                    "YardLineTerritory": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Period": {
                "properties": {
                    "AwayScore": {
                        "type": "integer"
                    },
                    "GameID": {
                        "type": "integer"
                    },
                    "HomeScore": {
                        "type": "integer"
                    },
                    "Name": {
                        "type": "string"
                    },
                    "Number": {
                        "type": "integer"
                    },
                    "PeriodID": {
                        "type": "integer"
                    }
                },
                "type": "object"
            },
            "Stadium": {
                "properties": {
                    "Active": {
                        "type": "boolean"
                    },
                    "City": {
                        "type": "string"
                    },
                    "Dome": {
                        "type": "boolean"
                    },
                    "Name": {
                        "type": "string"
                    },
                    "StadiumID": {
                        "type": "integer"
                    },
                    "State": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Team": {
                "properties": {
                    "Active": {
                        "type": "boolean"
                    },
                    "ApRank": {
                        "type": "integer"
                    },
                    "CoachesRank": {
                        "type": "integer"
                    },
                    "Conference": {
                        "type": "string"
                    },
                    "ConferenceID": {
                        "type": "integer"
                    },
                    "ConferenceLosses": {
                        "type": "integer"
                    },
                    "ConferenceWins": {
                        "type": "integer"
                    },
                    "GlobalTeamID": {
                        "type": "integer"
                    },
                    "Losses": {
                        "type": "integer"
                    },
                    "Name": {
                        "type": "string"
                    },
                    "PlayoffRank": {
                        "type": "integer"
                    },
                    "School": {
                        "type": "string"
                    },
                    "ShortDisplayName": {
                        "type": "string"
                    },
                    "StadiumID": {
                        "type": "integer"
                    },
                    "TeamID": {
                        "type": "integer"
                    },
                    "TeamLogoUrl": {
                        "type": "string"
                    },
                    "Wins": {
                        "type": "integer"
                    },
                    "[Key]": {
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "TeamGame": {
                "properties": {
                    "AssistedTackles": {
                        "type": "number"
                    },
                    "Created": {
                        "type": "string"
                    },
                    "DateTime": {
                        "type": "string"
                    },
                    "Day": {
[...]
